@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.25;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ripple {
  position: absolute;
  border-radius: 50%;
  animation: ripple 1s ease-out forwards;
  pointer-events: none;
  mix-blend-mode: screen;
}
.fixed {
  transition: opacity 0.3s ease;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
